source ~/.vimrc

" List of supported set commands: https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
" Enable smart join operation: https://github.com/JetBrains/ideavim/wiki/%22ideajoin%22-examples
set ideajoin

"****************************************
" Key bindings
"****************************************

" Reformat
nnoremap <Leader>f :action ReformatCode<CR><ESC>
" Rename
nnoremap <Leader>r :action RenameElement<CR>
