source ~/.vimrc

" List of supported set commands: https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
" Enable smart join operation: https://github.com/JetBrains/ideavim/wiki/%22ideajoin%22-examples
set ideajoin

"****************************************
" Key bindings
"****************************************

" Workaround as ctrl+t doesn't always respect default vim behavior
nnoremap <C-t> :action Back<CR>
" Find all usages
nnoremap <Leader>g :action FindUsages<CR>
" Reformat
nnoremap <Leader>f :action ReformatCode<CR><ESC>
" Rename
nnoremap <Leader>r :action RenameElement<CR>

"****************************************
" Plugin emulation
"****************************************
"
" https://github.com/chrisbra/matchit
set matchit

" https://github.com/preservim/nerdtree
set NERDTree

" https://github.com/tpope/vim-surround
set surround
