source ~/.vimrc

" List of supported set commands: https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
" Enable smart join operation: https://github.com/JetBrains/ideavim/wiki/%22ideajoin%22-examples
set ideajoin

"****************************************
" Key bindings
"****************************************

" Toggle maximize current editor/normalize split
nmap <C-W>= :action MaximizeEditorInSplit<CR>

" Workaround as ctrl+t doesn't always respect default vim behavior
nmap <C-T> :action Back<CR>

" Find all usages
nmap <Leader>u :action FindUsages<CR>

" Reformat
nmap <Leader>f :action ReformatCode<CR><ESC>

" Rename
nmap <Leader>r :action RenameElement<CR>

"****************************************
" Plugin emulation
"****************************************
"
" https://tpope.io/vim/commentary.git
set commentary

" https://github.com/chrisbra/matchit
set matchit

" https://github.com/preservim/nerdtree
set NERDTree

" https://github.com/tpope/vim-surround
set surround
